mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)



mixin card(delay, imgPath, text, number= false)
	- var cardNumber = imgPath.split('/')
	- var sliceCard = cardNumber.slice(1,2)
	- cardNumber = sliceCard
	div(class="card card--"+cardNumber, data-aos='fade-up', data-aos-delay =delay)
		picture(class='card-img card-img--'+cardNumber)
			source(
				srcset='static/img/'+imgPath+'-200px.webp'
				media='(max-width: 200px)')
			source(
				srcset='static/img/'+imgPath+'-500px.webp'
				media='(max-width: 500px)')
			source(
				srcset='static/img/'+imgPath+'-800px.webp'
				media='(max-width: 800px)')
			img.card_img(
				src='static/img/'+imgPath+'-normal.webp',
				alt='')
		p.card-number
			if (text == 'сэкономил своим клиентам')
				span $
			if (number)
				span.cost-new(data-from="0" data-to=number)= number
				span +
		p.card-text= text

mixin cardHor(imgPath, text, arrowSide)
	.card-hor--wrap(class="card-hor--wrap-"+imgPath, data-aos="fade-up")
		div(class="card-hor--"+imgPath).card-hor
			picture.card-hor_picture
				source(
					srcset='static/img/5-work/'+imgPath+'-200px.webp'
					media='(max-width: 200px)')
				source(
					srcset='static/img/5-work/'+imgPath+'-500px.webp'
					media='(max-width: 500px)')
				source(
					srcset='static/img/5-work/'+imgPath+'-800px.webp'
					media='(max-width: 800px)')
				img.card-hor_img(
					src='static/img/5-work/'+imgPath+'-normal.webp',
					alt='')
			p.card-hor_text= text
		if (arrowSide != 'none')
			img(src="static/img/general/arrow-"+arrowSide+".svg" alt="arrow" data-aos="fade-down-right").card-hor_arrow


mixin title(text, number, seciton)
	- var n = 1
	- var t = 1
	div(class='rolling-title '+seciton + '-title',
			id=seciton
			)
		while t < 4
			div(class='rolling-title-row--'+t class='title-row-'+t,
					id=seciton+'-title-row--'+t++)
				while n < number
					h2(class='rolling-title__item rolling-title__item-'+n++)= text
				- n= 1

// mixin case(numb, img, title, moscow, cost, duration, descr)
mixin case(data)
	// .case-wrap
		// div.case-modal_wrap(class='case-modal_wrap--'+ data.numb)
			// .case-modal
			// 	h3.case-modal_title= data.title
			// 	p.case-modal_text= data.descrFull
	.case-slide-wrap
		.case
			picture.case-pic
				source(
					srcset='static/img/7-cases/'+data.pic+'-200px.webp'
					media='(max-width: 200px)')
				source(
					srcset='static/img/7-cases/'+data.pic+'-500px.webp'
					media='(max-width: 500px)')
				source(
					srcset='static/img/7-cases/'+data.pic+'-800px.webp'
					media='(max-width: 800px)')
				img.img-loading(
					src='static/img/7-cases/'+data.pic+'-normal.webp',
					alt= data.title)
			.case-text
				h3.case-title= data.title
				.case-stats
					.case-row
						p Бюджет
						span.case-number= data.budget
					.case-row
						p Результат
						span.case-number= data.result
					.case-row
						p Срок
						span.case-number= data.time
				p.case-descr= data.descr
				button.g-secondary-btn.case-btn(class="case-btn--"+data.numb, data-case-number=data.numb data-button="Кейсы")
					span Подробнее →

mixin testimonial(name, title, picNum, text)
	.testimonial-wrap
		.testimonial
			div(class="testimonial-pic testimonial-pic--"+picNum)
				.testimonial-person
					h3.testimonial-name= name
					p.testimonial-title= title
			p.testimonial-text=text

mixin gdpr(btn)
	p.gdpr Нажимая кнопку «
		span= btn
		span », я даю согласие на передачу персональных данных согласно
			a.gdpr(href="#") политике конфиденциальности











mixin socials(data)
	div(class= data.class)
		if (data.inst)
			a.social--insta(href= data.inst, class= data.class+'__item')
				// img(src='static/img/general/ig.svg' alt="insta-link")
				<svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g opacity="0.8">
				<path d="M27.223 16.1898C21.236 16.1898 16.4041 21.0217 16.4041 27.0087C16.4041 32.9958 21.236 37.8276 27.223 37.8276C33.2101 37.8276 38.0419 32.9958 38.0419 27.0087C38.0419 21.0217 33.2101 16.1898 27.223 16.1898ZM27.223 34.0402C23.3512 34.0402 20.1915 30.8805 20.1915 27.0087C20.1915 23.1369 23.3512 19.9772 27.223 19.9772C31.0948 19.9772 34.2545 23.1369 34.2545 27.0087C34.2545 30.8805 31.0948 34.0402 27.223 34.0402ZM38.485 13.2253C37.0871 13.2253 35.9583 14.3541 35.9583 15.752C35.9583 17.1499 37.0871 18.2787 38.485 18.2787C39.8829 18.2787 41.0117 17.1551 41.0117 15.752C41.0121 15.4201 40.947 15.0913 40.8202 14.7846C40.6934 14.4778 40.5073 14.1991 40.2726 13.9644C40.0379 13.7297 39.7592 13.5436 39.4524 13.4168C39.1457 13.29 38.8169 13.2249 38.485 13.2253ZM48.3122 27.0087C48.3122 24.0969 48.3386 21.2116 48.1751 18.3051C48.0115 14.9291 47.2414 11.9329 44.7727 9.46427C42.2988 6.99032 39.3079 6.22546 35.9319 6.06194C33.0202 5.89841 30.1348 5.92479 27.2283 5.92479C24.3165 5.92479 21.4311 5.89841 18.5246 6.06194C15.1487 6.22546 12.1525 6.9956 9.68384 9.46427C7.2099 11.9382 6.44503 14.9291 6.28151 18.3051C6.11799 21.2168 6.14436 24.1022 6.14436 27.0087C6.14436 29.9152 6.11799 32.8059 6.28151 35.7124C6.44503 39.0883 7.21517 42.0845 9.68384 44.5531C12.1578 47.0271 15.1487 47.792 18.5246 47.9555C21.4364 48.119 24.3218 48.0926 27.2283 48.0926C30.1401 48.0926 33.0254 48.119 35.9319 47.9555C39.3079 47.792 42.3041 47.0218 44.7727 44.5531C47.2467 42.0792 48.0115 39.0883 48.1751 35.7124C48.3439 32.8059 48.3122 29.9205 48.3122 27.0087ZM43.6703 39.447C43.2852 40.407 42.821 41.1244 42.0772 41.8629C41.3335 42.6067 40.6214 43.0709 39.6613 43.456C36.8867 44.5584 30.2983 44.3105 27.223 44.3105C24.1477 44.3105 17.5541 44.5584 14.7794 43.4612C13.8194 43.0762 13.102 42.612 12.3635 41.8682C11.6197 41.1244 11.1556 40.4123 10.7705 39.4523C9.67329 36.6724 9.92122 30.084 9.92122 27.0087C9.92122 23.9334 9.67329 17.3397 10.7705 14.5651C11.1556 13.6051 11.6197 12.8877 12.3635 12.1492C13.1073 11.4107 13.8194 10.9413 14.7794 10.5562C17.5541 9.45899 24.1477 9.70692 27.223 9.70692C30.2983 9.70692 36.892 9.45899 39.6666 10.5562C40.6266 10.9413 41.344 11.4054 42.0825 12.1492C42.8263 12.893 43.2905 13.6051 43.6755 14.5651C44.7727 17.3397 44.5248 23.9334 44.5248 27.0087C44.5248 30.084 44.7727 36.6724 43.6703 39.447Z" fill="white"/>
				</g>
				</svg>
		if (data.vk)
			a.social--vk(href= data.vk, class= data.class+'__item')
				<svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g opacity="0.8">
				<path d="M29.9507 23.5936C29.9504 23.5937 29.9501 23.5938 29.9499 23.5938C29.9484 23.5943 29.9479 23.5945 29.9482 23.5944C29.9485 23.5943 29.9498 23.594 29.9517 23.5937C29.9547 23.5932 29.9549 23.5934 29.9508 23.5935M29.9507 23.5936L29.9508 23.5935M29.9507 23.5936C29.9498 23.5936 29.9489 23.5936 29.9481 23.5936C29.9491 23.5936 29.95 23.5935 29.9508 23.5935M29.9507 23.5936L29.9508 23.5935M36.4658 13.6543L36.4608 13.6657L36.4563 13.6769L36.4562 13.677L36.4561 13.6773L36.4555 13.6787L36.4515 13.6883L36.4337 13.731C36.4175 13.7696 36.3925 13.8284 36.3593 13.9054C36.2928 14.0594 36.1931 14.2862 36.0629 14.5709C35.8021 15.1409 35.4202 15.9402 34.9383 16.851C33.9709 18.6794 32.6352 20.8908 31.105 22.6053C30.8933 22.8177 30.718 22.9868 30.571 23.1215V14.5727C30.571 13.9297 30.4926 13.1361 30.0172 12.4995C29.4666 11.762 28.6516 11.5602 27.9335 11.5602H20.7543C19.3028 11.5602 18.2585 12.6848 18.2585 13.9436C18.2585 14.5957 18.518 15.0833 18.7549 15.426C18.8653 15.5856 18.9875 15.737 19.0822 15.8542L19.0841 15.8566L19.0942 15.8691C19.1934 15.9918 19.2774 16.0959 19.3615 16.2103C19.6525 16.6063 19.9996 17.1921 20.0731 18.4355V25.0245C20.0507 25.0017 20.0279 24.9782 20.0047 24.9538C19.4817 24.4058 18.849 23.571 18.1679 22.495C16.8108 20.3509 15.3547 17.3969 14.2695 14.2375L14.2692 14.2366C14.0411 13.5742 13.7358 12.8538 13.1652 12.3282C12.527 11.7404 11.7538 11.5623 10.9668 11.5623H6.40016C5.56776 11.5623 4.74859 11.7559 4.1649 12.3642C3.58575 12.9678 3.50016 13.7106 3.50016 14.1852C3.50016 14.6746 3.63787 15.4194 3.87743 16.2983C4.12741 17.2154 4.51692 18.3804 5.0834 19.7483C6.21641 22.484 8.06694 26.0543 10.9542 30.1015C14.9189 35.789 20.6048 39.0227 25.9752 39.0227C27.4265 39.0227 28.6171 38.88 29.4368 38.3298C30.466 37.6389 30.5689 36.59 30.5689 35.9123V31.8165C30.5689 31.7353 30.5702 31.663 30.5725 31.5986C30.9088 31.6681 31.8604 32.0506 34.0455 34.1536C34.7923 34.9009 35.385 35.5465 35.8866 36.1022C35.9777 36.2031 36.0671 36.3025 36.1549 36.4002C36.5403 36.8289 36.8945 37.2229 37.2179 37.5472C37.6202 37.9505 38.0564 38.3316 38.5744 38.6029C39.1213 38.8894 39.6944 39.0206 40.3272 39.0206H44.8939C45.7135 39.0206 46.6767 38.8222 47.3243 38.0707C48.0131 37.2713 48.0102 36.2502 47.7553 35.3749L47.7503 35.3579L47.7449 35.341C47.4703 34.4837 46.8881 33.5529 46.2036 32.6263C45.5036 31.6788 44.6155 30.6298 43.6296 29.5211C43.0512 28.8404 42.3452 28.1487 41.7653 27.5805C41.1234 26.9515 40.7175 26.5476 40.5609 26.3292L40.5462 26.3087L40.5308 26.2889C40.4736 26.2152 40.4347 26.1585 40.4084 26.1168C40.4455 26.0462 40.5002 25.9536 40.5867 25.8136L40.6285 25.7548C40.6711 25.6947 40.7326 25.6073 40.8106 25.496C40.9665 25.2731 41.189 24.9529 41.4574 24.5606C41.9937 23.7768 42.7158 22.7017 43.4575 21.5403C44.1974 20.3817 44.9659 19.1229 45.5902 17.9746C46.1792 16.8911 46.715 15.7735 46.9145 14.9071C47.0929 14.2875 47.1994 13.3876 46.6528 12.6058C46.0731 11.7768 45.102 11.5602 44.2439 11.5602H39.6752C38.8433 11.5602 38.1274 11.7861 37.5514 12.2219C36.9928 12.6446 36.6673 13.188 36.4658 13.6543ZM20.7167 25.5526C20.7197 25.5536 20.7212 25.5543 20.7212 25.5543C20.7212 25.5544 20.7197 25.5539 20.7167 25.5526ZM30.6107 31.2389C30.6107 31.2389 30.6105 31.2398 30.6099 31.2415C30.6104 31.2397 30.6107 31.2389 30.6107 31.2389Z" stroke="white" stroke-width="2.66667"/>
				</svg>

		if (data.fb)
			a.social--fb(href= data.fb, class= data.class+'__item')
				// img(src='static/img/general/fb.svg' alt="fb-link")
				<svg width="23" height="44" viewBox="0 0 23 44" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g opacity="0.8">
				<path d="M6.78906 42.2635V23.2543H1.76263V16.4101H6.78906V10.5642C6.78906 5.9705 9.75819 1.75195 16.5997 1.75195C19.3697 1.75195 21.418 2.01751 21.418 2.01751L21.2566 8.40884C21.2566 8.40884 19.1677 8.38851 16.8881 8.38851C14.421 8.38851 14.0257 9.52546 14.0257 11.4125V16.4101H21.4527L21.1296 23.2543H14.0257V42.2635H6.78906Z" stroke="white" stroke-width="2.8133"/>
				</g>
				</svg>
		if (data.tg)
			a.social--tg(href= data.tg, class= data.class+'__item')
				// img(src='static/img/general/tg.svg' alt="tg-link")
				<svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g opacity="0.8">
				<path d="M47.2207 8.36633L7.31684 23.754C4.59357 24.8478 4.60932 26.3669 6.8172 27.0444L17.0621 30.2403L40.7658 15.2848C41.8867 14.6029 42.9107 14.9697 42.069 15.7169L22.8643 33.0491V33.0513L22.1576 43.6113C23.1929 43.6113 23.6497 43.1365 24.2304 42.5761L29.2066 37.7372L39.5573 45.3826C41.4658 46.4336 42.8364 45.8935 43.3113 43.6158L50.106 11.5938C50.8014 8.80521 49.0414 7.5426 47.2207 8.36633Z" stroke="white" stroke-width="2.8133"/>
				</g>
				</svg>

		if (data.whats)
			a.social--whats(href= data.whats, class= data.class+'__item')
				<svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g opacity="0.8">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M42.4032 12.6776C40.5315 10.7935 38.3045 9.29964 35.8513 8.28242C33.3981 7.26521 30.7674 6.7449 28.1117 6.75165C16.9755 6.75165 7.90993 15.815 7.90543 26.9556C7.90543 30.5162 8.83494 33.9911 10.6017 37.0565L7.73663 47.5242L18.4474 44.7132C21.4102 46.326 24.7294 47.1717 28.1027 47.1731H28.1117C39.2456 47.1731 48.3112 38.1098 48.3157 26.9691C48.3233 24.3145 47.8047 21.6846 46.7899 19.2316C45.7751 16.7785 44.2841 14.551 42.4032 12.6776ZM28.1117 43.7634H28.1049C25.097 43.7637 22.1444 42.9545 19.557 41.4205L18.9448 41.0559L12.589 42.7236L14.2837 36.5276L13.8854 35.8929C12.2037 33.2156 11.3134 30.1173 11.3174 26.9556C11.3219 17.6965 18.8548 10.1636 28.1184 10.1636C30.3246 10.1587 32.5099 10.5914 34.5477 11.4367C36.5856 12.282 38.4355 13.523 39.9905 15.088C41.5539 16.6456 42.793 18.4975 43.6363 20.5368C44.4796 22.5761 44.9104 24.7624 44.9037 26.9691C44.8992 36.2283 37.3663 43.7634 28.1117 43.7634ZM37.3235 31.1846C36.8171 30.9303 34.3369 29.7104 33.8733 29.5416C33.4119 29.3728 33.0766 29.2896 32.739 29.7937C32.4014 30.2978 31.4336 31.4344 31.1388 31.772C30.8439 32.1096 30.5491 32.1501 30.045 31.898C29.5408 31.646 27.9136 31.1126 25.9848 29.3931C24.4836 28.054 23.4709 26.402 23.176 25.8956C22.8812 25.3892 23.1445 25.1169 23.3988 24.8648C23.6261 24.6397 23.903 24.2751 24.155 23.9803C24.4071 23.6855 24.4904 23.4762 24.6592 23.1386C24.828 22.801 24.7447 22.5061 24.6164 22.2541C24.4904 21.9997 23.4799 19.515 23.059 18.5045C22.6516 17.5255 22.2353 17.656 21.9247 17.6425C21.603 17.6293 21.2811 17.6233 20.9591 17.6245C20.7031 17.631 20.4513 17.6904 20.2193 17.7988C19.9873 17.9072 19.7802 18.0624 19.611 18.2547C19.1474 18.7611 17.8443 19.9809 17.8443 22.4656C17.8443 24.9503 19.6538 27.3518 19.9058 27.6894C20.1579 28.0269 23.4664 33.1246 28.5303 35.3123C29.7366 35.8322 30.6774 36.1428 31.4089 36.3768C32.6174 36.7617 33.718 36.7054 34.589 36.5771C35.559 36.4331 37.5756 35.3573 37.9965 34.1779C38.4173 32.9986 38.4173 31.9881 38.2913 31.7765C38.1653 31.565 37.8254 31.4367 37.3235 31.1846Z" fill="white"/>
				</g>
				</svg>