mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)



mixin card(delay, imgPath, text, number= false)
	- var cardNumber = imgPath.split('/')
	- var sliceCard = cardNumber.slice(1,2)
	- cardNumber = sliceCard
	div(class="card card--"+cardNumber, data-aos='fade-up', data-aos-delay =delay)
		picture(class='card-img card-img--'+cardNumber)
			img.card_img(
				src='static/img/content/'+imgPath+'.png',
				alt='')
		p.card-number
			if (text == 'сэкономил своим клиентам')
				span $
			if (number)
				span.cost-new(data-from="0" data-to=number)= number
				span +
		p.card-text= text

mixin cardHor(imgPath, text, arrowSide)
	.card-hor--wrap(class="card-hor--wrap-"+imgPath, data-aos="fade-up")
		div(class="card-hor--"+imgPath).card-hor
			picture.card-hor_picture
				img.card-hor_img(
					src='static/img/content/5-work/'+imgPath+'.png',
					alt='')
			p.card-hor_text= text
		if (arrowSide != 'none')
			img(src="static/img/general/arrow-"+arrowSide+".svg" alt="arrow" data-aos="fade-down-right").card-hor_arrow


mixin title(text, number, seciton)
	- var n = 1
	- var t = 1
	div(class='rolling-title '+seciton + '-title',
			id=seciton
			)
		while t < 4
			div(class='rolling-title-row--'+t class='title-row-'+t,
					id=seciton+'-title-row--'+t++)
				while n < number
					h2(class='rolling-title__item rolling-title__item-'+n++)= text
				- n= 1

// mixin case(numb, img, title, moscow, cost, duration, descr)
mixin case(data)
	// .case-wrap
		// div.case-modal_wrap(class='case-modal_wrap--'+ data.numb)
			// .case-modal
			// 	h3.case-modal_title= data.title
			// 	p.case-modal_text= data.descrFull
	.case-slide-wrap
		.case
			picture.case-pic
				img.img-loading(
					src='static/img/content/7-cases/'+data.pic+'.jpg',
					alt= data.title)
			.case-text
				h3.case-title= data.title
				.case-stats
					.case-row
						p Бюджет
						span.case-number= data.budget
					.case-row
						p Результат
						span.case-number= data.result
					.case-row
						p Срок
						span.case-number= data.time
				p.case-descr= data.descr
				button.g-secondary-btn.case-btn(class="case-btn--"+data.numb, data-case-number=data.numb data-button="Кейсы")
					span Подробнее →

mixin testimonial(name, title, picNum, text)
	.testimonial-wrap
		.testimonial
			div(class="testimonial-pic testimonial-pic--"+picNum)
				.testimonial-person
					h3.testimonial-name= name
					p.testimonial-title= title
			p.testimonial-text=text

mixin gdpr(btn)
	p.gdpr Нажимая кнопку «
		span= btn
		span », я даю согласие на передачу персональных данных согласно
			a.gdpr(href="#") политике конфиденциальности









mixin igIcon()
	<svg class="hero-socials_icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
	<path d="M30.0014 20.764C24.8906 20.764 20.7659 24.8887 20.7659 29.9995C20.7659 35.1104 24.8906 39.2351 30.0014 39.2351C35.1122 39.2351 39.2369 35.1104 39.2369 29.9995C39.2369 24.8887 35.1122 20.764 30.0014 20.764ZM30.0014 36.0019C26.6962 36.0019 23.999 33.3047 23.999 29.9995C23.999 26.6944 26.6962 23.9971 30.0014 23.9971C33.3065 23.9971 36.0038 26.6944 36.0038 29.9995C36.0038 33.3047 33.3065 36.0019 30.0014 36.0019ZM39.6151 18.2334C38.4219 18.2334 37.4582 19.197 37.4582 20.3903C37.4582 21.5836 38.4219 22.5472 39.6151 22.5472C40.8084 22.5472 41.772 21.5881 41.772 20.3903C41.7724 20.1069 41.7169 19.8263 41.6086 19.5645C41.5003 19.3026 41.3415 19.0647 41.1411 18.8643C40.9407 18.664 40.7028 18.5051 40.441 18.3969C40.1791 18.2886 39.8985 18.233 39.6151 18.2334V18.2334ZM48.0041 29.9995C48.0041 27.5139 48.0266 25.0508 47.887 22.5697C47.7474 19.6878 47.09 17.1302 44.9826 15.0228C42.8708 12.9109 40.3176 12.258 37.4357 12.1184C34.9501 11.9788 32.487 12.0013 30.0059 12.0013C27.5203 12.0013 25.0572 11.9788 22.5761 12.1184C19.6942 12.258 17.1365 12.9154 15.0292 15.0228C12.9173 17.1347 12.2644 19.6878 12.1248 22.5697C11.9852 25.0553 12.0077 27.5184 12.0077 29.9995C12.0077 32.4807 11.9852 34.9483 12.1248 37.4294C12.2644 40.3113 12.9218 42.8689 15.0292 44.9763C17.141 47.0882 19.6942 47.7411 22.5761 47.8807C25.0617 48.0203 27.5248 47.9978 30.0059 47.9978C32.4915 47.9978 34.9546 48.0203 37.4357 47.8807C40.3176 47.7411 42.8753 47.0837 44.9826 44.9763C47.0945 42.8644 47.7474 40.3113 47.887 37.4294C48.0311 34.9483 48.0041 32.4852 48.0041 29.9995V29.9995ZM44.0415 40.6174C43.7128 41.437 43.3166 42.0494 42.6816 42.6798C42.0467 43.3147 41.4388 43.711 40.6193 44.0397C38.2508 44.9808 32.6266 44.7692 30.0014 44.7692C27.3762 44.7692 21.7475 44.9808 19.379 44.0442C18.5594 43.7155 17.9471 43.3192 17.3166 42.6843C16.6817 42.0494 16.2855 41.4415 15.9568 40.622C15.0201 38.2489 15.2318 32.6248 15.2318 29.9995C15.2318 27.3743 15.0201 21.7457 15.9568 19.3771C16.2855 18.5576 16.6817 17.9452 17.3166 17.3148C17.9516 16.6844 18.5594 16.2836 19.379 15.9549C21.7475 15.0183 27.3762 15.2299 30.0014 15.2299C32.6266 15.2299 38.2553 15.0183 40.6238 15.9549C41.4433 16.2836 42.0557 16.6799 42.6861 17.3148C43.3211 17.9497 43.7173 18.5576 44.046 19.3771C44.9826 21.7457 44.771 27.3743 44.771 29.9995C44.771 32.6248 44.9826 38.2489 44.0415 40.6174Z" fill="white"/>
	</svg>


mixin igNot()
	<svg class="hero-socials_icon" width="1024" height="1024" viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M898.213 347.532L898.215 347.575L898.217 347.618C900.92 395.654 900.868 443.384 900.815 491.781C900.807 498.507 900.8 505.246 900.8 512C900.8 519.563 900.811 527.107 900.822 534.633C900.892 582.215 900.961 629.136 898.219 676.362L898.215 676.415L898.213 676.468C895.18 739.09 881.108 792.635 836.922 836.822C792.833 880.91 739.185 895.08 676.568 898.113L676.525 898.115L676.482 898.117C628.445 900.82 580.715 900.768 532.318 900.715C525.592 900.707 518.854 900.7 512.1 900.7C505.36 900.7 498.634 900.707 491.919 900.715C443.587 900.767 395.844 900.82 347.717 898.117L347.674 898.115L347.632 898.113C285.01 895.079 231.464 881.008 187.278 836.822C143.19 792.733 129.02 739.085 125.987 676.468L125.985 676.425L125.983 676.382C123.28 628.343 123.332 580.534 123.385 532.182C123.393 525.466 123.4 518.739 123.4 512C123.4 505.259 123.393 498.533 123.385 491.818C123.332 443.486 123.28 395.743 125.983 347.617L125.985 347.574L125.987 347.532C129.02 284.91 143.092 231.364 187.278 187.178C231.367 143.089 285.015 128.92 347.632 125.887L347.675 125.885L347.718 125.882C395.755 123.18 443.484 123.232 491.882 123.285C498.607 123.292 505.346 123.3 512.1 123.3C518.84 123.3 525.567 123.292 532.282 123.285C580.614 123.232 628.357 123.18 676.483 125.882L676.525 125.885L676.568 125.887C739.19 128.92 792.736 142.992 836.922 187.178C881.01 231.266 895.18 284.915 898.213 347.532ZM666.6 298.5C666.6 331.073 692.921 357.396 725.493 357.4H725.5C733.235 357.408 740.895 355.891 748.043 352.935C755.195 349.978 761.694 345.639 767.166 340.166C772.639 334.693 776.978 328.195 779.935 321.043C782.892 313.891 784.41 306.225 784.4 298.486C784.393 265.917 758.071 239.6 725.5 239.6C692.925 239.6 666.6 265.925 666.6 298.5ZM389.7 512C389.7 444.675 444.675 389.7 512 389.7C579.325 389.7 634.3 444.675 634.3 512C634.3 579.325 579.325 634.3 512 634.3C444.675 634.3 389.7 579.325 389.7 512ZM295.9 512C295.9 631.575 392.425 728.1 512 728.1C631.575 728.1 728.1 631.575 728.1 512C728.1 392.425 631.575 295.9 512 295.9C392.425 295.9 295.9 392.425 295.9 512Z" stroke="white" stroke-width="42"/>
	</svg>


mixin vkIcon()
	<svg class="hero-socials_icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M45.3947 22.3501C45.6292 21.5712 45.3947 21 44.2858 21H40.6126C39.6779 21 39.2508 21.4941 39.0163 22.0368C39.0163 22.0368 37.1487 26.5911 34.5022 29.5442C33.6479 30.4035 33.2576 30.6748 32.792 30.6748C32.5592 30.6748 32.2208 30.4035 32.2208 29.6246V22.3501C32.2208 21.4154 31.9511 21 31.1723 21H25.4002C24.8173 21 24.4656 21.4322 24.4656 21.8442C24.4656 22.7286 25.7888 22.933 25.9245 25.4254V30.8323C25.9245 32.0165 25.7118 32.2326 25.2428 32.2326C23.9982 32.2326 20.9698 27.6615 19.1726 22.4288C18.8225 21.4121 18.4691 21.0017 17.5311 21.0017H13.8595C12.8092 21.0017 12.5999 21.4958 12.5999 22.0385C12.5999 23.0134 13.8444 27.8373 18.397 34.2174C21.4321 38.5741 25.7051 40.9359 29.5978 40.9359C31.931 40.9359 32.2191 40.4116 32.2191 39.5071V36.214C32.2191 35.1655 32.4419 34.9544 33.1806 34.9544C33.7233 34.9544 34.6579 35.2291 36.8371 37.3279C39.3261 39.817 39.7382 40.9342 41.1368 40.9342H44.8084C45.857 40.9342 46.3813 40.4099 46.0798 39.3747C45.7498 38.3446 44.5605 36.8455 42.9827 35.0717C42.1251 34.06 40.8437 32.9712 40.4534 32.4269C39.9091 31.725 40.0665 31.4152 40.4534 30.7921C40.4551 30.7937 44.929 24.4924 45.3947 22.3501V22.3501Z" fill="white"/>
	</svg>

mixin vkNot()
	<svg class="hero-socials_icon" width="1024" height="1024" viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M767.967 288.843L768.03 288.691C770.552 282.879 773.768 278.129 778.176 274.793C782.461 271.551 788.721 269 798.557 269H892.125C904.858 269 908.847 272.316 910.065 274.058C911.433 276.015 912.486 280.421 909.838 289.218L920.371 292.389L909.622 290.053C907.028 301.987 898.414 321.005 886.042 343.763C873.864 366.164 858.658 391.1 843.734 414.469C828.826 437.815 814.274 459.479 803.442 475.31C799.389 481.234 795.86 486.337 793.031 490.4L792.475 489.844L785.159 501.626L785.055 501.794C780.485 509.153 775.394 517.352 774.644 526.611C773.819 536.799 778.183 545.941 785.689 555.655C791.202 563.276 802.071 573.922 813.261 584.884L814.555 586.151C826.763 598.111 840.005 611.128 850.54 623.556L850.625 623.656L850.712 623.754C870.735 646.264 888.097 666.815 901.448 684.888C914.892 703.086 923.644 717.955 927.301 729.271C930.527 740.449 928.52 745.921 926.193 748.622C923.515 751.729 917.41 754.776 905.437 754.776H811.912C804.638 754.776 799.075 753.364 793.789 750.595C788.264 747.701 782.557 743.075 775.353 735.853C769.5 729.985 763.103 722.871 755.263 714.153C753.395 712.076 751.446 709.909 749.403 707.645C738.89 695.998 726.205 682.176 710.165 666.137L710.092 666.063L710.017 665.992C654.322 612.352 627.737 602.456 609.245 602.456C599.624 602.456 588.616 603.593 581.376 612.584C577.972 616.812 576.159 621.891 575.136 627.166C574.116 632.429 573.755 638.575 573.755 645.541V729.424C573.755 739.993 572.03 744.104 567.525 747.128C561.292 751.313 547.696 754.819 517.981 754.819C423.202 754.819 317.441 697.122 241.695 588.395L241.66 588.344L241.623 588.293C184.122 507.711 147.611 437.093 125.51 383.727C114.456 357.038 107.027 334.711 102.378 317.656C97.6434 300.285 96 289.124 96 284.453C96 278.673 97.1643 275.539 98.9478 273.68C100.694 271.86 105.188 269.043 117.085 269.043H210.611C220.878 269.043 226.036 271.24 229.681 274.598C233.884 278.469 237.65 285.274 242.023 297.976C265.182 365.4 296.278 428.608 325.721 475.126C340.423 498.353 354.907 517.728 367.994 531.441C374.527 538.286 380.961 543.985 387.132 548.047C393.101 551.976 399.945 555.123 407.048 555.123C410.736 555.123 415.099 554.725 419.326 552.818C423.861 550.771 427.365 547.391 429.835 542.926C434.209 535.022 435.413 523.43 435.413 508.453V370.725V370.426L435.397 370.127C433.542 336.051 423.404 316.852 413.4 303.24C411.146 300.174 408.927 297.427 407.003 295.046L406.656 294.616C404.583 292.049 402.956 290.011 401.619 288.077C399.065 284.384 398.251 282.025 398.251 279.504C398.251 275.164 402.204 269 411.059 269H558.088C566.079 269 568.724 271.046 570.069 272.848C572.035 275.482 573.797 280.995 573.797 292.389V477.691C573.797 499.494 583.919 515.443 599.347 515.443C616.486 515.443 629.556 504.677 650.71 483.398L650.911 483.196L651.101 482.984C685.684 444.396 714.921 395.68 735.406 356.963C745.683 337.539 753.829 320.492 759.412 308.289C762.205 302.185 764.359 297.287 765.82 293.901C766.55 292.208 767.108 290.893 767.486 289.995C767.675 289.545 767.819 289.2 767.917 288.963L767.967 288.843ZM794.504 507.429L786.726 515.208C787.627 515.578 788.532 515.858 789.428 516.063C783.761 526.821 783.385 534.736 794.504 549.072V507.429Z" stroke="white" stroke-width="42"/>
	</svg>


mixin fbIcon()
	<svg class="hero-socials_icon" width="45" height="60" viewBox="0 0 45 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0)">
			<path d="M17.9667 48V31.1078H13.5V25.0257H17.9667V19.8309C17.9667 15.7488 20.6051 12 26.6848 12C29.1463 12 30.9665 12.236 30.9665 12.236L30.8231 17.9156C30.8231 17.9156 28.9668 17.8975 26.9411 17.8975C24.7487 17.8975 24.3974 18.9078 24.3974 20.5847V25.0257H30.9973L30.7102 31.1078H24.3974V48H17.9667Z" fill="white"/>
		</g>
		<defs>
			<clipPath id="clip0">
				<rect width="17.4973" height="36" fill="white" transform="translate(13.5 12)"/>
			</clipPath>
		</defs>
	</svg>




mixin tgIcon()
	<svg class="hero-socials_icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M39.9976 18.1753L13.4026 28.4308C11.5876 29.1598 11.5981 30.1723 13.0696 30.6238L19.8976 32.7538L35.6956 22.7863C36.4426 22.3318 37.1251 22.5763 36.5641 23.0743L23.7646 34.6258H23.7616L23.7646 34.6273L23.2936 41.6653C23.9836 41.6653 24.2881 41.3488 24.6751 40.9753L27.9916 37.7503L34.8901 42.8458C36.1621 43.5463 37.0756 43.1863 37.3921 41.6683L41.9206 20.3263C42.3841 18.4678 41.2111 17.6263 39.9976 18.1753V18.1753Z" fill="white"/>
	</svg>

mixin tgNot()
	<svg width="1024" height="1024" viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0)">
			<path d="M940.87 90.8458L944.986 101.047C978.216 87.6371 995.62 91.0753 1003.71 99.2841C1008.01 103.655 1011.35 110.78 1012.54 121.771C1013.73 132.765 1012.67 146.86 1008.92 164.013L1008.91 164.055L1008.91 164.098L858.695 879.038L858.681 879.104L858.668 879.171C853.081 907.495 843.828 922.754 833.036 928.674C822.999 934.181 807.212 933.81 782.015 918.935L553.489 746.925L546.045 741.322L539.293 747.743L405.768 874.74C399.671 879.966 392.479 882.051 386.1 880.906C380.425 879.886 373.718 876 368.146 866.032L382.717 687.366L862.742 250.489C862.755 250.477 862.769 250.465 862.782 250.453C866.579 247.063 869.697 243.691 872.005 240.338C874.262 237.058 876.165 233.183 876.614 228.898C877.105 224.214 875.77 219.494 872.343 215.827C869.216 212.48 865.202 210.919 861.784 210.205C855.038 208.796 847.004 209.9 839.252 212.346C831.328 214.846 822.678 219.066 814.209 225.07L256.079 571.788L28.7704 499.177C20.3324 495.342 15.6809 491.196 13.3298 487.681C11.0872 484.328 10.5894 481.08 11.2999 477.732C12.8826 470.275 21.2459 460.183 37.9036 452.648L944.846 101.102L940.87 90.8458Z" stroke="white" stroke-width="42"/>
		</g>
		<defs>
			<clipPath id="clip0">
				<rect width="1024" height="1024" fill="white"/>
			</clipPath>
		</defs>
	</svg>




mixin waIcon()
	<svg class="hero-socials_icon" width="58" height="60" viewBox="0 0 58 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M34.3524 30.9884C34.5456 30.9884 35.2699 31.3152 36.5254 31.969C37.7809 32.6227 38.4458 33.0165 38.5201 33.1502C38.5498 33.2245 38.5646 33.3359 38.5646 33.4845C38.5646 33.9748 38.4383 34.5394 38.1858 35.1783C37.948 35.7578 37.4206 36.2443 36.6034 36.6381C35.7862 37.0318 35.0285 37.2287 34.3301 37.2287C33.4832 37.2287 32.0717 36.7681 30.0956 35.8469C28.6396 35.1783 27.3766 34.3017 26.3069 33.2171C25.2371 32.1324 24.1376 30.7581 23.0084 29.094C21.9387 27.5042 21.4112 26.063 21.4261 24.7703V24.5921C21.4706 23.24 22.0204 22.0662 23.0753 21.0707C23.4319 20.7439 23.8182 20.5804 24.2342 20.5804C24.3234 20.5804 24.4571 20.5916 24.6354 20.6139C24.8137 20.6361 24.9548 20.6473 25.0588 20.6473C25.3411 20.6473 25.538 20.6956 25.6494 20.7922C25.7609 20.8887 25.876 21.093 25.9949 21.405C26.1137 21.7022 26.3589 22.3559 26.7303 23.3663C27.1018 24.3766 27.2875 24.9338 27.2875 25.0378C27.2875 25.3498 27.0312 25.777 26.5186 26.3193C26.006 26.8616 25.7497 27.207 25.7497 27.3556C25.7497 27.4596 25.7869 27.5711 25.8611 27.6899C26.3663 28.7745 27.1241 29.7923 28.1344 30.7432C28.9664 31.5307 30.0882 32.281 31.4997 32.9942C31.678 33.0982 31.8414 33.1502 31.99 33.1502C32.2129 33.1502 32.6141 32.7899 33.1935 32.0693C33.773 31.3487 34.1593 30.9884 34.3524 30.9884ZM29.8282 42.8004C31.7152 42.8004 33.5241 42.4289 35.255 41.686C36.986 40.9432 38.4755 39.9477 39.7235 38.6996C40.9716 37.4515 41.9671 35.962 42.71 34.2311C43.4529 32.5002 43.8243 30.6912 43.8243 28.8043C43.8243 26.9173 43.4529 25.1084 42.71 23.3774C41.9671 21.6465 40.9716 20.157 39.7235 18.9089C38.4755 17.6609 36.986 16.6654 35.255 15.9225C33.5241 15.1796 31.7152 14.8081 29.8282 14.8081C27.9412 14.8081 26.1323 15.1796 24.4014 15.9225C22.6704 16.6654 21.1809 17.6609 19.9328 18.9089C18.6848 20.157 17.6893 21.6465 16.9464 23.3774C16.2035 25.1084 15.8321 26.9173 15.8321 28.8043C15.8321 31.8204 16.7235 34.5543 18.5065 37.0058L16.7458 42.1986L22.1392 40.4826C24.4868 42.0278 27.0498 42.8004 29.8282 42.8004ZM29.8282 12C32.1015 12 34.2744 12.4457 36.3471 13.3372C38.4198 14.2287 40.2064 15.4247 41.7071 16.9254C43.2077 18.426 44.4038 20.2127 45.2953 22.2854C46.1867 24.358 46.6325 26.531 46.6325 28.8043C46.6325 31.0775 46.1867 33.2505 45.2953 35.3232C44.4038 37.3958 43.2077 39.1825 41.7071 40.6831C40.2064 42.1838 38.4198 43.3798 36.3471 44.2713C34.2744 45.1628 32.1015 45.6085 29.8282 45.6085C26.9309 45.6085 24.2193 44.9102 21.6935 43.5136L12.3999 46.5L15.4309 37.4738C13.8263 34.8291 13.0239 31.9393 13.0239 28.8043C13.0239 26.531 13.4697 24.358 14.3611 22.2854C15.2526 20.2127 16.4487 18.426 17.9493 16.9254C19.45 15.4247 21.2366 14.2287 23.3093 13.3372C25.382 12.4457 27.5549 12 29.8282 12Z" fill="white"/>
	</svg>







mixin viberIcon()
	<svg class="hero-socials_icon" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M29.6866 12.0052C26.7972 12.0401 20.5853 12.5149 17.1109 15.7024C14.5265 18.2633 13.6241 22.0494 13.5183 26.7311C13.4306 31.3959 13.3248 40.1562 21.769 42.5415V46.1746C21.769 46.1746 21.7161 47.6283 22.677 47.9264C23.8606 48.3011 24.5346 47.1827 25.6597 45.9811L27.7581 43.6081C33.5357 44.0886 37.9608 42.9814 38.4705 42.8172C39.6429 42.4425 46.2464 41.5986 47.3254 32.8372C48.4325 23.7888 46.7864 18.0877 43.8149 15.5089H43.7969C42.9002 14.6831 39.2964 12.057 31.2449 12.0277C31.2449 12.0277 30.6474 11.9872 29.6866 12.0041V12.0052ZM29.7856 14.5492C30.6058 14.5436 31.1042 14.5784 31.1042 14.5784C37.9192 14.5964 41.172 16.6476 41.9393 17.3384C44.4416 19.4829 45.7311 24.6225 44.7871 32.1767C43.8903 39.5014 38.5347 39.9649 37.5434 40.2811C37.1215 40.4161 33.224 41.377 28.3139 41.0608C28.3139 41.0608 24.6572 45.4736 23.5141 46.61C23.3329 46.8092 23.1214 46.8677 22.9864 46.8384C22.7928 46.7912 22.7343 46.5515 22.7456 46.223L22.7805 40.1933C15.619 38.2131 16.0409 30.741 16.1174 26.8379C16.2052 22.9348 16.9376 19.7417 19.1181 17.5792C22.0536 14.925 27.3283 14.5672 29.7833 14.5492H29.7856ZM30.3257 18.4512C30.2667 18.4506 30.2082 18.4616 30.1536 18.4838C30.099 18.5059 30.0492 18.5386 30.0073 18.58C29.9653 18.6214 29.932 18.6707 29.9092 18.7251C29.8864 18.7794 29.8746 18.8378 29.8745 18.8967C29.8745 19.1487 30.0792 19.3479 30.3257 19.3479C31.4412 19.3267 32.55 19.5265 33.5879 19.9359C34.6259 20.3453 35.5725 20.9561 36.3733 21.7332C38.0081 23.3208 38.8047 25.454 38.8351 28.2432C38.8351 28.4896 39.0342 28.6944 39.2863 28.6944V28.6764C39.405 28.6767 39.5191 28.6301 39.6036 28.5466C39.6882 28.4631 39.7362 28.3496 39.7374 28.2309C39.7921 26.918 39.5792 25.6077 39.1117 24.3797C38.6442 23.1517 37.9318 22.0315 37.018 21.0874C35.2369 19.3468 32.9799 18.45 30.3257 18.45V18.4512ZM24.395 19.4829C24.0766 19.4364 23.7518 19.5003 23.4747 19.6641H23.4511C22.8078 20.0411 22.2283 20.5177 21.7341 21.0761C21.3234 21.5509 21.1006 22.0314 21.0421 22.4938C21.0073 22.7694 21.0309 23.0451 21.113 23.3084L21.1423 23.3264C21.6047 24.6856 22.2089 25.993 22.947 27.2239C23.8978 28.9532 25.0678 30.5524 26.4282 31.9821L26.4687 32.0406L26.5328 32.0878L26.5733 32.1351L26.6206 32.1756C28.0554 33.5399 29.6585 34.7155 31.3912 35.6737C33.3714 36.7515 34.573 37.2612 35.2943 37.4728V37.484C35.5058 37.5481 35.6982 37.5774 35.8917 37.5774C36.5064 37.5324 37.0882 37.2828 37.5445 36.8686C38.1004 36.3743 38.5717 35.7924 38.9397 35.146V35.1347C39.2851 34.4844 39.1681 33.8689 38.6697 33.4526C37.6715 32.5801 36.592 31.8051 35.4462 31.1382C34.6788 30.7219 33.8991 30.974 33.5829 31.3959L32.909 32.2454C32.5636 32.6673 31.9357 32.6088 31.9357 32.6088L31.9177 32.62C27.236 31.424 25.9871 26.6838 25.9871 26.6838C25.9871 26.6838 25.9286 26.0391 26.3618 25.7106L27.2056 25.031C27.6096 24.7024 27.8909 23.9238 27.4577 23.1554C26.7954 22.0079 26.0221 20.9282 25.1489 19.9318C24.958 19.6969 24.6902 19.5371 24.3928 19.4807L24.395 19.4829ZM31.1042 20.8196C30.5068 20.8196 30.5068 21.7219 31.1099 21.7219C31.8528 21.734 32.586 21.8923 33.2677 22.1879C33.9494 22.4835 34.5662 22.9105 35.0827 23.4445C35.554 23.9643 35.9161 24.5735 36.1476 25.2358C36.3792 25.8981 36.4754 26.6002 36.4307 27.3004C36.4327 27.4189 36.4811 27.5319 36.5654 27.6151C36.6497 27.6984 36.7633 27.7454 36.8818 27.7459L36.8998 27.7696C37.0192 27.7687 37.1335 27.7209 37.2179 27.6364C37.3023 27.552 37.3501 27.4378 37.351 27.3184C37.3915 25.5305 36.8357 24.0307 35.7454 22.8291C34.6496 21.6274 33.1205 20.9535 31.1684 20.8196H31.1042V20.8196ZM31.8435 23.2454C31.228 23.2274 31.2044 24.1477 31.8142 24.1657C33.2971 24.2422 34.0172 24.9916 34.1117 26.533C34.1138 26.65 34.1616 26.7616 34.2449 26.8438C34.3281 26.926 34.4403 26.9724 34.5573 26.973H34.5753C34.6355 26.9704 34.6945 26.9558 34.749 26.9302C34.8035 26.9045 34.8523 26.8683 34.8926 26.8236C34.933 26.7789 34.964 26.7265 34.9839 26.6697C35.0038 26.6129 35.0121 26.5526 35.0085 26.4925C34.9027 24.483 33.8068 23.3511 31.8615 23.2465H31.8435V23.2454Z" fill="white"/>
	</svg>







mixin socials(data)
	div(class= data.class)
		if (data.inst)
			a.social--insta(href= data.inst, class= data.class+'__item')
				// img(src='static/img/general/ig.svg' alt="insta-link")
				+igIcon()
		if (data.vk)
			a.social--vk(href= data.vk, class= data.class+'__item')
				+vkIcon()

		if (data.fb)
			a.social--fb(href= data.fb, class= data.class+'__item')
				+fbIcon()
		if (data.tg)
			a.social--tg(href= data.tg, class= data.class+'__item')
				// img(src='static/img/general/tg.svg' alt="tg-link")
				+tgIcon()

		if (data.whats)
			a.social--whats(href= data.whats, class= data.class+'__item')
				+waIcon()
		if (data.vi)
			a.social--vi(href= data.vi, class= data.class+'__item')
				+viberIcon()